#login-dp {
    margin: 0 auto;
    width: 640px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

#register-pane {
    display: none;
    height: 500px;
}

#login-pane {
    display: inline;
}

.index-label {
    font-size: 16px;
    color: #5d6d7e;
}

#register-form-td {
    width: 280px;
}

#register-qrcode-td {
    height: 300px;
}

#login-qrcode-td{
    width: 370px;
}

#login-scan-td{
    width:50%;
}

td {
    padding: 4px;
    margin: 0 auto;

}
table {
    margin: 0 auto;
}