<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyAccount</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="js/lib.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
<div class="container">
    <!--Login section-->
    <div id="Login" class="row">
        <label>Login Identity:</label><input type="text" id="LoginID"/>
        <button class="btn btn-success" onclick="Login()">Login</button>
    </div>

    <!--section that interacts with account name and public key-->
    <div id="NamePubkey" class="row">
        Hello<span v-if="isVisible">{{MyName}}</span>!
        <button class="btn btn-success" onclick="setMyName()">Change Name</button>
        <input type="text" id="setMyName" placeholder="Your new name"/>
        <br>
        Your Public Key is:<span v-if="isVisible">{{MyPubKey}}</span>
        <button class="btn btn-success" onclick="setMyPubKey()">Change PublicKey</button>
        <input type="text" id="setMyPubKey" placeholder="Your new public key"/>
    </div>

    <!--section that interacts with social accounts-->
    <div id="SocialAccounts" class="row">
        <h1 class="mbl pbl">My Social Accounts</h1>
        <!--add a social account-->
        <div class="row" id="AddSocialAccount">
            <label>App:</label><input type="text" id="newApp" placeholder="Facebook, twitter or ..."/>
            <label>Username:</label><input type="text" id="newUsername" placeholder="Your Username."/>
            <label>Password:</label><input type="password" id="newPassword" placeholder="Your Password."/>
            <button class="btn" onclick="AddSocialAccount()">Add</button>
        </div>

        <!--output all social accounts.-->
        <div class="ShowData span9" id="SocialAccountOutput">
            <template v-for="item in JSONAllSocialAccounts">
                <div class="tile">
                    <span>{{item.App}}</span>
                    <span class="fui-facebook"></span>
                    <span>{{item.username}}</span>
                    <br>
                    <button class="btn btn-info" v-on:click="getSocialAccountPW(item.App,item.username)">getPassword
                    </button>
                    <button class="btn btn-danger" v-on:click="DelSocialAccount(item.App,item.username)">Delete</button>
                    <label>New Password:</label><input type="password" v-bind:id="item.inputID"
                                                       placeholder="Your new password."/>
                    <button class="btn btn-warning"
                            v-on:click="AltSocialAccountPw(item.App, item.username,item.inputID)">Change
                    </button>
                    <br>
                    <label>Share with:</label><input type="text" v-bind:id="item.inputAddressID"
                                                       placeholder="Receiver address."/>
                    <button class="btn btn-warning"
                            v-on:click="ShareAccount(item.App, item.username,item.inputAddressID)">Share
                    </button>
                </div>
            </template>
        </div>
    </div>

    <!--section that interacts with shared social accounts-->
    <div id="SharedAccounts" class="row">
        <h1 class="mbl pbl">My Shared Accounts From Contacts</h1>
        <div class="ShowData span9" id="SharedAccountOutput">
            <template v-for="item in JSONAllSharedAccounts">
                <div class="tile">
                    <span>From: {{item.fromAddress}}</span>
                    <br>
                    <span>{{item.SharedApp}}</span>
                    <span class="fui-twitter"></span>
                    <span>{{item.SharedUsername}}</span>
                    <button class="btn btn-info" v-on:click="getSharedAccountPw(item.SharedApp,item.SharedUsername)">getPassword
                    </button>
                    <br>
                    <span class="fui-time">Timestamp: {{item.timestamp}}</span>
                </div>
            </template>
        </div>
    </div>

    <!--section that interacts with contacts-->
    <div id="Contacts" class="row">
        <h1 class="mbl pbl">My Contacts</h1>
        <!--add a contact-->
        <div class="row" id="AddContact">
            <label>Contact Address:</label><input type="text" id="newContactAddress" placeholder="Contact Address"/>
            <button class="btn" onclick="AddContact()">Add</button>
        </div>

        <!--output all contacts.-->
        <div class="span9 ShowData" id="ContactOutput">
            <template v-for="item in JSONAllContacts">
                <div class="tile">
                    <span class="fui-user"></span><span>{{item.ContactName}}</span>
                    <br>
                    <span>From: {{item.ContactAddress}}</span>
                    <br>
                    <button class="btn btn-info" v-on:click="getTargetContactPubKey(item.ContactAddress)">PublicKey
                    </button>
                    <button class="btn btn-danger" v-on:click="deleteContact(item.ContactAddress)">Delete</button>
                    <label>New Nickname:</label><input type="text" v-bind:id="item.inputID"
                                                          placeholder="New Nickname."/>
                    <button class="btn btn-warning"
                            v-on:click="AlterContactName(item.ContactAddress,item.inputID)">Change
                    </button>
                </div>
            </template>
        </div>
    </div>

</div>
<script src="js/inner.js"></script>

</body>
</html>